.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 107vh;
  text-align: center;
  font-family: '8Bits';
}

.container > button,
.btn {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: inline-flex;
  background: rgb(17, 238, 120);
  color: rgb(0, 0, 0);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: '8Bits';
  font-size: 13px;
  margin-top: 33px;
}

.btn {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 23px;
  font-family: '8Bits';
  
}

.btn2 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* position: static; */
  display: inline-flex;
  background: rgb(238, 17, 164);
  color: rgb(0, 0, 0);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: '8Bits';
  /* margin-top: 77x; */
  margin-right: -1100px;
  /* margin-left: ; */
  font-size: 11px;
}


.NFT {
  align-items: center;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: center;
  object-position: left;
  font-family: '8Bits';
}

.nftDesc {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0px;
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  font-family: '8Bits';
}

.nftDesc > span {
  letter-spacing: 3px;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: '8Bits';
}

@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-position: center;
    font-family: '8Bits';
  }
}

.title {
  font-size: 2rem;
  margin: 2rem 0;
  color: rgb(255, 255, 255);
  font-family: '8Bits';
  margin-top: -33;
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 0.7rem;
 color: rgb(255, 255, 255);
  font-family: '8Bits';
  margin-top: -33;
  text-shadow: 2px 2px #000000;
}
.video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.button {
  border-radius: 4px;
  background-color: blue;
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin-bottom: 2%;
  font-family: '8Bits';
}

.footer {
  display: flex;
  padding: 2rem 0;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #08ff94;
  margin-top: 1%;
  font-family: '8Bits';
  font-size: 9px;
  text-shadow: 2px 2px #000000;
}

.image {
  width: 70%;
  height: 50%;
  object-position: left;
}

